
*{
    margin: 0;
    padding: 0;
}


#wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    box-sizing: border-box;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 0 0 20px;
    border: 1px solid #ddd;
    border-radius: 5px;

}


h1,h2 {
    font-weight: 550;
    margin-top: 30px;
    text-align: center;

}



#page-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background: #ccc;
}

#page-banner h1, #page-banner p {
    text-align: center;
    margin: 10px;
    font-family: hack;
}

#page-banner input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 10px;
    border: none;
}

/* List Items Section */

#book-list {
    width: 70%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#book-list ul {
    list-style: none;
    padding: 20px;

}

#book-list li {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 5px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}
/* 
#add-book {
    width: 100%;
    margin-left: 10%;
    margin-right: auto;
} */

 #form-div {
     width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
} 


#add-book-input {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    margin-left: 15%;
    width: 50%;
    padding: 10px 0 10px 10px; 
    border: none;
    background: #ddd;
    border-radius: 5px 0 0 5px;
}

#btn {
    width: 100px;
    padding: 10px;
    border: none;
    background: #5e5e5e;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    /* display: block; */
    margin-right: 15%;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}
#btn:hover {
    color: #fff;
    background: #8bad94;
}

.delete:hover {
    color: #fff;
    background: #8bad94;
}

.title {
    font-family: hack;
    padding:;
}
.name {
    color: #5e5e5e;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
}
li .name:hover {
    color: #ccc;
}
.delete {
    float: right;
    background: #5e5e5e;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}
